# Temp and cache
.pytest_cache

# Coverage artifacts
.coverage

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Env vars, including credentials
.env.private

# Packages and dependencies
.mypy_cache/

# VS Code
.vscode/

# Artifacts
artifacts/

# External dependencies
dependencies/

# Packaging related
build/
dist/
