-r requirements-dev.txt

fabric                  # https://github.com/fabric/fabric
python-dotenv           # https://github.com/theskumar/python-dotenv
python-synology         # https://github.com/StaticCube/python-synology
